.todo-4767b60:nth-child(odd) {
  background-color: var(--gray-7);
}

.todo-4767b60:nth-child(even) {
  background-color: var(--gray-6);
}

.todo-4767b60 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--size-3);
  margin: var(--size-2);
  box-shadow: var(--shadow-3);
  border-radius: var(--radius-2);
}

.todo-4767b60:has(input:checked) {
  text-decoration: line-through;
}

.todo_form-4767b60 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--size-2);
}

.todo_form-4767b60>input {
  flex-grow: 1;
}
