.dex_container {
  height: 600px;
  display: grid;
  grid-template-columns: var(--size-13) 1fr;
  box-sizing: border-box;
  gap: var(--size-3);
}

.dex_view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  border: var(--border-size-2) solid black;
  border-radius: var(--radius-3);
  box-sizing: border-box;
  padding: var(--size-8);
}
