.placeholder_image,
.dex_image {
  width: var(--size-14);
}

.placeholder_image {
  animation: rotate 1s linear 0s infinite forwards;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
