.product {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: var(--size-1) dotted var(--gray-3);
  gap: var(--size-5);
}

.product > img {
  display: block;
  width: 200px;
  height: 200px;
}
