.todo:nth-child(odd) {
  background-color: var(--gray-7);
}

.todo:nth-child(even) {
  background-color: var(--gray-6);
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--size-3);
  margin: var(--size-2);
  box-shadow: var(--shadow-3);
}

.todo:has(input:checked) {
  text-decoration: line-through;
}

.todo_form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--size-2);
}

.todo_form>input {
  flex-grow: 1;
}
